<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194299035451-nknqt0qm86jlk7sa07o2ace9bk2odh96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194299035451-nknqt0qm86jlk7sa07o2ace9bk2odh96</string>
	<key>API_KEY</key>
	<string>AIzaSyAIhC7Uaq8aqhjjBMsariPyVi1SCqOVFTw</string>
	<key>GCM_SENDER_ID</key>
	<string>194299035451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todo.ToDoSwift</string>
	<key>PROJECT_ID</key>
	<string>todoswift-73c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>todoswift-73c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194299035451:ios:2935d0f014a9e8c6b6c11e</string>
	<key>DATABASE_URL</key>
	<string>https://todoswift-73c2f.firebaseio.com</string>
</dict>
</plist>